*.nes
*.bak
*.log
*.exe
abcde/Atlas/src
comparisons
*.cdl
*.deb
abcde/Atlas/Atlas.pdf
abcde/Cartographer/readme.txt
abcde/Cartographer/dump
abcde/Cartographer/dumpEN
abcde/abcde
abcde/cpan
abcde/abcde.pl
abcde/docs
abcde/eg
abcde/abcde_v0_0_9.7z
